.search {

    .search-wrapper {
        input {
            width: 100%;
            display: block;
        }
    }

    .results {
        h4 {
            margin: 10px 0;
        }

        ul {
            padding: 0;
            display: inline;
        }

        li {
            cursor: pointer;
        }

        .loading {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 4%;
        }
    }
}
